In [77]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('stroke.csv')

In [3]:
x = df

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [10]:
df.gender.value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [11]:
df['gender'].replace('Female',0,inplace=True)
df['gender'].replace('Male',1,inplace=True)
df['gender'].replace('Other',2,inplace=True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [12]:
df['ever_married'].replace('No',0,inplace=True)
df['ever_married'].replace('Yes',1,inplace=True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0,61.0,0,0,1,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,60182,0,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,1665,0,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1

In [13]:
df.work_type.value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [14]:
df['work_type'].replace('Private',0,inplace=True)
df['work_type'].replace('Self-employed',1,inplace=True)
df['work_type'].replace('Govt_job',2,inplace=True)
df['work_type'].replace('children',3,inplace=True)
df['work_type'].replace('Never_worked',4,inplace=True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,Urban,228.69,36.6,formerly smoked,1
1,51676,0,61.0,0,0,1,1,Rural,202.21,NaN,never smoked,1
2,31112,1,80.0,0,1,1,0,Rural,105.92,32.5,never smoked,1
3,60182,0,49.0,0,0,1,0,Urban,171.23,34.4,smokes,1
4,1665,0,79.0,1,0,1,1,Rural,174.12,24.0,never smoked,1

In [15]:
df.Residence_type.value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [16]:
df['Residence_type'].replace('Urban',0,inplace=True)
df['Residence_type'].replace('Rural',1,inplace=True)

In [17]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.6,formerly smoked,1
1,51676,0,61.0,0,0,1,1,1,202.21,NaN,never smoked,1
2,31112,1,80.0,0,1,1,0,1,105.92,32.5,never smoked,1
3,60182,0,49.0,0,0,1,0,0,171.23,34.4,smokes,1
4,1665,0,79.0,1,0,1,1,1,174.12,24.0,never smoked,1

In [18]:
df.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [19]:
df.smoking_status.replace('never smoked',0,inplace =True)
df.smoking_status.replace('smokes',1,inplace =True)
df.smoking_status.replace('formerly smoked',2,inplace =True)
df.smoking_status.replace('Unknown',3,inplace =True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.6,2,1
1,51676,0,61.0,0,0,1,1,1,202.21,NaN,0,1
2,31112,1,80.0,0,1,1,0,1,105.92,32.5,0,1
3,60182,0,49.0,0,0,1,0,0,171.23,34.4,1,1
4,1665,0,79.0,1,0,1,1,1,174.12,24.0,0,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [42]:
df.bmi = df.bmi.fillna(df.bmi.median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [50]:
x = df

In [67]:
X_train, X_test = train_test_split(df, test_size=0.2, random_state=2)
Y_test = X_test["stroke"]
Y_train = X_train["stroke"]

X_train = X_train.drop("stroke",axis=1)
X_test = X_test.drop("stroke",axis=1)

In [144]:
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)

##### Model Accuracy

In [145]:
perceptron.score(X_train,Y_train)*100

94.74070450097848

##### Weights assigned to the features

In [119]:
perceptron.coef_

array([[-8934.  ,   -50.  , 32524.36,   210.  ,   181.  ,   303.  ,
         -610.  ,   -89.  , 17781.85, -3109.5 ,  -380.  ]])

##### Number of weight updates performed during training.

In [124]:
perceptron.t_

32705.0